# initial database details
DB_DATABASE="rlwm_db"
DB_USER="rlwm_user"
DB_PASSWORD="7c169799-d793-481f-9e08-af606f96d517"

# initial postgres master password
POSTGRES_PASSWORD="34954850-aded-47f0-af32-aab736845864"
