

# initial database details
DB_DATABASE="rlwm_db"
DB_USER="rlwm_user"
DB_PASSWORD="7c169799-d793-481f-9e08-af606f96d517"

DB_HOST=rlwm-db
DB_PORT=5432

# initial postgres master password - this is only used for local development
POSTGRES_PASSWORD="34954850-aded-47f0-af32-aab736845864"

# For sending simple emails through Gapp script provider
GAPP_EMAIL_URL="https://script.google.com/macros/s/AKxxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/exec"
GAPP_EMAIL_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-adda829xxxxx